In [10]:
from sqlalchemy import create_engine, text
import pymysql
import pandas as pd
import plotly.express as ex

In [2]:
user = "bigdata"
password = "Bigdata123!!"
host = "192.168.56.101"
port = "3306"
db = "SampleDB"
connect_script = f'mysql+pymysql://{user}:{password}@{host}:{port}/{db}'
engine = create_engine(connect_script)

In [3]:
conn = engine.connect()

In [4]:
qry = """
select *
 from 학생평가
"""
pd.read_sql(qry,conn)

           학번   이름  점수    조이름
0   201501001  김수현  90  T2015
1   201501002  송혜교  75   무한도전
2   201501003  하지원  77    학교짱
3   201501004  장근석  85  T2015
4   201501005  이종석  96    BIG
5   201501006   주원  80    베스트
6   201501007  박보영  95    BIG
7   201501008  한효주  90    학교짱
8   201501009  송중기  83  T2015
9   201501010  김우빈  88    베스트
10  201501011  이연희  75    학교짱
11  201501012  유승호  84    BIG
12  201501013  박신혜  89   무한도전
13  201501014  한지민  94    베스트
14  201501015  이승기  78   무한도전

In [5]:
stmt = """
insert into 학생평가(
학번, 
이름, 
점수, 
조이름) 
values(
201501016,
'홍길동',
100,
'빅데이터'
)
"""
conn.execute(text(stmt))

In [9]:
qry = """
select a.*
 from 학생평가 a, (select max(점수) as 점수 from 학생평가) b
where a.점수 = b.점수
"""
pd.read_sql(qry, conn)

          학번   이름   점수   조이름
0  201501016  홍길동  100  빅데이터

In [13]:
df = ex.data.gapminder()

In [15]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
iso_alpha     object
iso_num        int64
dtype: object

In [17]:
stmt = """
create table world
(country varchar(50),
 continent varchar(30),
 year int,
 pop int
)
"""
conn.execute(text(stmt))

In [18]:
pd.read_sql("select * from world", conn)

Empty DataFrame
Columns: [country, continent, year, pop]
Index: []

In [25]:
x = df.loc[[0],["country","continent","year","pop"]].to_dict('r')[0]

/tmp/ipykernel_1855/821947718.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  x = df.loc[[0],["country","continent","year","pop"]].to_dict('r')[0]

In [26]:
x

{'country': 'Afghanistan', 'continent': 'Asia', 'year': 1952, 'pop': 8425333}

In [27]:
stmt = """
insert into world(
country,
continent,
year,
pop
)
values(
:country,
:continent,
:year,
:pop
)
"""
conn.execute(text(stmt),**x)

In [28]:
pd.read_sql("select * from world", conn)

       country continent  year      pop
0  Afghanistan      Asia  1952  8425333

In [50]:
# 첫번째 = input("학번 >>>")
두번째 = input("이름 >>>")
세번째 = int(input("점수 >>>"))
첫번째 = str(int(pd.read_sql(stmt,conn).loc[:,'max'][0])+1)
stmt = """
insert into 학생평가(
학번,
이름,
점수
)
values(
:x1,
:x2,
:x3
)
"""
df1 = pd.read_sql("select count(*) as cnt from 학생평가", conn)
df1 = df1.loc[:,'cnt'][0]
dt = {"x1":첫번째, "x2":두번째, "x3":세번째}
conn.execute(text(stmt),**dt)
df = pd.read_sql("select count(*) as cnt from 학생평가", conn)
df = df.loc[:,'cnt'][0]
if df > df1:
    print(f'{두번째}학생 정보의 입력이 잘 되어습니다')

이름 >>> 김태완
점수 >>> 110

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ':x1,\n:x2,\n:x3\n)' at line 7")
[SQL:
insert into 학생평가(
학번,
이름,
점수
)
values(
:x1,
:x2,
:x3
)
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
df1 = pd.read_sql("select count(*) as cnt from 학생평가", conn)
df.loc[;,'cnt'][0] == 16

In [40]:
name = input("조회하려는 학생 이름을 입력하세요 >>>")
qry = f"select * from 학생평가 where 이름 = '{name}'"
df = pd.read_sql(qry,conn)
if len(df) > 0:
    print(df)
else:
    print("조회하려는 학생이 없습니다")

조회하려는 학생 이름을 입력하세요 >>> 김태완

조회하려는 학생이 없습니다

In [46]:
stmt = """
select max(학번) as max
 from 학생평가
"""
str(int(pd.read_sql(stmt,conn).loc[:,'max'][0])+1)

'201501016'